* {
  margin: 0;
  padding: 0%;
  font-family: fantasy;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
}

.gameover {
  color: #fff;
  font-size: 5.5em;
}

#restartGame {
  background: #008ecc;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.showresult {
  width: 100%;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  margin-top: 100px;
}

.scoreboard {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 2px solid white;
  padding: 20px 10px;
}

.scoreboard h1 {
  color: #fff;
}

.score {
  color: #fff;
  font-weight: bolder;
  font-size: 5em;
  text-align: center;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 100px 0;
  width: 100%;
}

.choices div {
  cursor: pointer;
  width: 150px;
  height: 200px;
}

.choice svg path {
  stroke: #151515;
  fill: #151515;
  transition: all 0.5s ease;
}

.rocksvg:hover path {
  stroke: #008ecc;
  fill: #008ecc;
  filter: drop-shadow(0px 0px 5px #008ecc);
}

.papersvg:hover path {
  stroke: #39ff14;
  fill: #39ff14;
  filter: drop-shadow(0px 0px 5px #39ff14);
}

.scissorssvg:hover path {
  stroke: #bf00ff;
  fill: #bf00ff;
  filter: drop-shadow(0px 0px 5px #bf00ff);
}

.enterName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterName input {
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
  margin: 0 30px 0 0;
}

.enterName button {
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 5px;
  background: #008ecc;
  border: none;
  color: #fff;
  cursor: pointer;
}

.enterName button:hover {
  background: #0575a5;
}

@media (max-width: 992px) {
  .main {
    width: 80%;
  }
  .scoreboard {
    width: 100%;
  }

  .showresult {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    overflow-y: visible;
  }

  .main {
    width: 100%;
  }

  .gameover {
    font-size: 2.5em;
  }

  .showresult {
    margin: 0;
  }

  .scoreboard {
    font-size: 0.5em;
    width: 90%;
  }

  .choices {
    margin: 0;
  }

  .choice svg {
    width: 100px;
    height: 151px;
  }

  .enterName {
    flex-direction: column;
  }

  .enterName button {
    margin-top: 10px;
  }
}
